html{
    margin: 0;
    background-color: black;
    color:white;
}
.container{
    margin-top: 5%;
    width: 50%;
    margin-left: 25%;
}
img{
    border: 5px solid white;
    width: 100%;
}
h1,p{
    font-family: 'Libre Baskerville', serif;
    text-align: center;
}